	/* ------------------------RESET-WSZYSTKICH-STYLOW------------------------ */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	  margin:0;
	  padding:0;
	  border:0;
	  font-size:100%;
	  font:inherit;
	  vertical-align:baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	  display:block;
	}

	body {
	  line-height:1;
	}

	ul, ol {
	  list-style:none;
	}

	blockquote, q {
	  quotes:none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
	  content:'';
	  content:none;
	}

	table {
	  border-collapse:collapse;
	  border-spacing:0;
	}





	  /* ------------------------CZĘŚĆ-GÓRNA-MENU------------------------ */

		  /* usunięcie domyślnych właściwości CSS z elementów - ol - oraz - ul */
		  .menu, .menu ul, .menu ol {
			list-style-type:none;
			padding:0;
			margin:0;
		  }

		  /* wygląd głównego elementu - ol */
		  .menu {
			background-color:#FFF;
			font-size:18px;
			height:2em;
			line-height:2em;
			text-align:center;
		  }

		  /* wygląd wszystkich elementów - a - znajdujących się w elemencie - ol */
		  .menu a {
			display:block;
			text-decoration:none;
			color:#000;
			padding:0 5px;
		  }

		  /* wygląd elementów - li - wszystkich dzieci elementu - ol */
		  .menu > li {
			float:left;
			width:150px;
			margin-left:1px;
			background-color:#FDD700;
			height:2em;
		  }

		  /* wygląd elementu - li - pierwszego dziecka elementu - ol */
		  .menu > li:first-child {
			margin-left:0;
		  }

		  /* wygląd elementów - li - wszystkich dzieci elementu - ol - po najechaniu kursorem myszki na element - li */
		  .menu > li:hover {
			background-color:#EEE;
		  }

		  /* wygląd elementu - a - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
		  .menu > li:hover > a {
			color:#09C;
		  }

		  /* wygląd elementu - ul - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
		  .menu > li:hover > ul {
			display:block;
		  }

		  /* ------------------------CZĘŚĆ-ROZWIJANA-MENU-POZIOM-1----------------------- */

		  /* wygląd głównych rozwijanych elementów - ul */
		  .menu > li > ul {
			display:none;
		  }

		  /* wygląd elementu - li - w części rozwijanej */
		  .menu > li > ul > li {
			position:relative;
			background-color:#EEE;
		  }

		  /* wygląd elementu - a - w części rozwijanej */
		  .menu > li > ul > li > a {
			border-top:1px solid #FFF;
		  }

		  /* wygląd elementu - li - w części rozwijanej, po najechaniu kursorem myszki na dany element - li */
		  .menu > li > ul > li:hover {
			background-color:#DDD;
		  }

		  /* wygląd elementu - a - w części rozwijanej, po najechaniu kursorem myszki na element - li */
		  .menu > li > ul > li:hover > a {
			color:#09C;
		  }

		  /* ------------------------CZĘŚĆ-ROZWIJANA-MENU-POZIOM-2----------------------- */

		  /* wygląd głównego elementu - ol - w drugiej części rozwijanej */
		  .menu > li > ul > li > ol {
			display:none;
			width:150%;
			position:absolute;
			left:100%;
			margin-top:-2em;
		  }

		  /* wygląd głównego elementu - ol - w drugiej części rozwijanej, po najechaniu kursorem myszki na jego rodzica - li */
		  .menu > li > ul > li:hover > ol {
			display:block;
		  }

		  /* wygląd elementów - li - w drugiej części rozwijanej */
		  .menu > li > ul > li > ol > li {
			background-color:#CCC;
		  }

		  /* wygląd elementów - a - w drugiej części rozwijanej */
		  .menu > li > ul > li > ol > li > a {
			border-top:1px solid #FFF;
			border-left:1px solid #FFF;
		  }

		  /* wygląd elementu - a - w drugiej części rozwijanej, po najechaniu kursorem myszki */
		  .menu > li > ul > li > ol > li > a:hover {
			color:#09C;
		  }

		  /* ------------------------WSPÓLNE----------------------- */

		  /* zaokrąglone rogi wszystkich elementów - li - oraz - a */
		  .menu li, ol a {
			border-radius:6px;
		  }

		  /* strzałka w prawo */
		  .menu .dol {
			background-image:url('http://webkod.pl/images/down.png');
			background-repeat:no-repeat;
			background-position:98% center;
		  }

		  /* strzałka w dół */
		  .menu .prawo {
			background-image:url('http://webkod.pl/images/right.png');
			background-repeat:no-repeat;
			background-position:98% center;
		  }
		  /* ------------------------ANIMOWANE-TLO----------------------- */
		  #element_z_tlem {
			border:3px solid #EEE;
			animation:ruch 300s linear infinite alternate;
			-webkit-animation:ruch 300s linear infinite alternate; /* dla Google Chrome, Safari, Opera 15+ */
			background-image:url('http://webkod.pl/images/para1.png'),
							 url('http://webkod.pl/images/para2.png'),
							 url('http://webkod.pl/images/para3.png');
		  }

		  #akapit {
			width:300px;
			margin:84px auto;
			padding:10px;
			border:3px solid #EEE;
			background-color:rgba(255,255,255,0.7);
			font-size:24px;
		  }

		  /*------------------------ANIMACJA-RUCHOME-TŁO------------------------*/
		  @keyframes ruch
		  {
			0% {background-position:0 0, 0 0, 0 0;}
			100% {background-position:10000px 0, 7500px 0, 5000px 0;}
		  }

		  /* dla Google Chrome, Safari, Opera 15+ */
		  @-webkit-keyframes ruch
		  {
			0% {background-position:0 0, 0 0, 0 0;}
			100% {background-position:10000px 0, 7500px 0, 5000px 0;}
		  }
		  /*------------------------UKLAD-STRONY------------------------*/
		#blokMenu{
			margin:1%;
			margin-right:6%;
			float:right;
		}
		#blokLogowania{
			float:right;
			margin-top:4%;
			margin-right:24%;
			color:black;
			border:2px solid #ccc;
			border-radius:10px;
			padding:1%;
		}
		#blokPanelu{
			float:right;
			margin-top:4%;
		}
		#blokLogo{
			float:left;
			margin:1%;
		}
		#blokGlowny{
			margin-left:4%;
			margin-right:4%;
			margin-top:16%;
			margin-bottom:4%;
		}
		#blok1{
			float:left;
			margin-right:20%;
			padding:1%;
			
		}
		#blokRejestracji{
			
			margin-top:8%;
			margin-right:35%;
			margin-left:35%;
			color:black;
			border:6px solid #ccc;
			border-radius:5px;
			padding:1%;
			float:center;
		}
		#blokPracownika{
			
			margin-top:8%;
			margin-right:40%;
			margin-left:40%;
			color:black;
			border:6px solid #ccc;
			border-radius:5px;
			padding:1%;
			float:center;
		}
		#blokRejestracji label{
			position:relative;
		}
		#blok2{
			float:right;
			margin-left:20%;
			padding:1%;
		}
		#blok3{
			float:left;
			margin-right:20%;
			padding:1%;	
		}
		#stopka{
			margin-right:40%;
			margin-left:40%;
			padding:1%;
		}
		  /*------------------------FORMULARZ-LOGOWANIA------------------------*/
	
		#blokLogowania label{
			text-transform: uppercase;
			font-size:12px;
		}
		#blokLogowania h1{
			text-align:center;
			text-transform: uppercase;
			font-size:16px;
		}
		#blokLogowania p{
			padding:1%;
		}
		#blokLogowania input{
			float:right;
		}
		#blokLogowania1 form{
			float:right;
			margin-top:20%;
		}

		#blokLogowania1 label{
			text-transform: uppercase;
			font-size:12px;
		}
		#blokLogowania1 h1{
			text-align:center;
			text-transform: uppercase;
			font-size:16px;
		}
		#blokLogowania1 p{
			padding:1%;
		}
		#blokLogowania1 input{
			float:right;
		}

	